/*
 Essentials.css is simple css code which contain all basic and essential css
 functions for the website development. 
 AUTHOR : Saroj Dahal / @originalsaroj
 VERSION: 1.0.0
*/

/*Make Vertical Line */

.vl {
  border-left: 6px solid #ccc;
  height: 500px;
}

/*Styles for default scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
